@model IEnumerable<Zero_Hunger.EF.Donation>



@{
    ViewBag.Title = "Index";
}

<style>
    .header a.admin {
        background-color: dodgerblue;
        color: white;
    }

    .plus-icon:after {
        content: "\f067";
        font-family: 'FontAwesome';
        padding-left: 5px;
    }
</style>
<link href="~/Content/table.css" rel="stylesheet" type="text/css" />
<link href="~/Content/admin_login.css" rel="stylesheet" type="text/css" />
<a id="sub2" href="../Donate/CollectionRequest">Make a new Donation</a>
<br />
<br />
<b><span class="alert-warning"> @TempData["error"] </span></b>




<table class="styled-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Status)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpireIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonarName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Status == "Collectable")
                    {
                        <b style="color:red">@Html.DisplayFor(modelItem => item.Status)</b>
                    }
                    else if (item.Status == "Deliverable")
                    {
                        <b style="color:firebrick">@Html.DisplayFor(modelItem => item.Status)</b>
                    }
                    else
                    {
                        <b style="color:lawngreen">@Html.DisplayFor(modelItem => item.Status)</b>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>

                    @if (item.Status == "Collectable")
                    {
                        <p id="sub2">@Html.ActionLink("Assign Employee To Colect", "Collect", new { id = item.Id })</p>

                    }
                    else if (item.Status == "Deliverable")
                    {
                        <p id="sub2">@Html.ActionLink("Assign Employee To Delivery", "Distribute", new { id = item.Id })</p>
                    }
                    else
                    {
                        <a id="sub1">Successfully Processed!!</a>
                    }


                </td>
            </tr>
        }

    </table>
